nav
{
    width: 100%;
    height: 50px;
    background-color: #1b263b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
nav .logo_div
{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .logo
{
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
    color: #e0e1dd;
}
nav ul
{
    margin: 0px;
}
nav ul li
{
    display: inline-block;
    margin: 0px 10px;
}
nav ul li a
{
    text-decoration: none;
    color: #e0e1dd;
    font-size: 15px;
    padding: 6px 10px;
    border-radius: 5px;
    text-decoration: none !important;
}
nav ul li a:hover
{
    color: #e0e1dd;
    background-color: #415a77;
}
nav ul li a.active
{
    color: #e0e1dd;
    background-color: #415a77;
}
nav .nav_toggle_btn
{
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #e0e1dd;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;
    border-radius: 50px;
    display: none;
}
nav .nav_toggle_btn:hover
{
    background-color: #415a77;
}
.close_nav_div
{
    display: none;
}


/* ==============Media Query=========== */
@media (max-width: 992px)
{
    nav ul
    {
        position: fixed;
        top: 0;
        left: -100%;
        bottom: 0;
        background-color: #1b263b;
        padding: 10px 20px 0px;
        transition: all 0.3s;
        overflow-y: auto;
        z-index: 1;
    }
    nav ul.show
    {
        left: 0;
    }
    nav ul li
    {
        display: block;
        margin: 5px 0px;
    }
    nav ul li a
    {
        display: block;
    }
    nav .nav_toggle_btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .close_nav
    {
        float: right;
    }
    .open_nav
    {
        margin-right: 10px;
    }
    .close_nav_div
    {
        display: block;
        margin-bottom: 40px;
    }
}

/* ==========Mobile========== */
@media only screen and (min-width: 200px) and (max-width: 567px)
{
    nav ul
    {
        width: 50%;
    }
}
/* ==========DeskTop========== */
@media only screen and (min-width: 568px) and (max-width: 992px)
{
    nav ul
    {
        width: 30%;
    }
}